amqp  
asn1crypto 
billiard 
celery  
certifi 
cffi
chardet 
coreapi 
coreschema 
cryptography
diff-match-patch  
Django  
django-ckeditor  
django-cors-headers  
django-crispy-forms  
django-crontab  
django-filter  
django-formtools  
django-haystack  
django-import-export  
django-js-asset  
django-redis  
django-reversion  
djangorestframework  
djangorestframework-jwt  
drf-extensions  
drf-haystack  
elasticsearch  
et-xmlfile  
future  
httplib2  
idna  
itsdangerous  
itypes  
jdcal  
Jinja2  
kombu  
MarkupSafe
mutagen  
odfpy  
openpyxl  
Pillow
pycparser  
pycryptodomex  
PyJWT  
PyMySQL  
python-alipay-sdk  
python-dateutil  
pytz  
PyYAML  
QQLoginTool  
redis  
requests  
six  
tablib  
unicodecsv  
uritemplate  
urllib3  
# uWSGI  
vine  
# xadmin
xlrd  
xlwt  
